{% extends 'carshowroom/base.html' %}

{% block title %}
Главная страница
{% endblock %}
{% block content %}
        <div class="container ">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
                {% for model in auto_model %}
                <div class="col mt-4">
                    <div class="card shadow"style="background-color: #d7d7d7;">
                        <div class="card-body">
                            <h4 class="p-1 mb-0 bg-dark text-white card-title mx-auto text-center">{{ model.dealer.name }}</h4>
                            <p class="p-1 bg-dark text-white mx-auto text-center">{{model.name}}</p>
                            <p><strong>Продается:</strong><span class="font-monospace "> {{model.quantity}}</span></p>
                            <p><strong>Цена жилья:</strong> <span class="font-monospace ">{{model.price}}$</span></p>
                            <p><strong>Общее описание:</strong> <span class="font-monospace ">{{model.description}}</span></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
