{% extends 'carshowroom/base.html' %}

{% block title %}
Риэлторская компания
{% endblock %}
{% block content %}
        <div class="container">
            <div class="row >
                {% for d in dealers %}
                <div class="col mt-4">
                    <div class="card shadow ">
                        <div class="card-body">
                            <h5 class="p-3 mb-0 bg-dark text-white card-title mx-auto text-center">{{ d.name }}</h5>
                            <p class = "p-2 mb-auto mx-auto text-center"><strong>Контактный номер:</strong> {{d.number}}</p>
                            <div class="mb-0 mx-auto ">
                                {% for supplier in d.suppliers.all %}
                                <p class = "p-1 mb-0 bg-dark text-white mx-auto text-center"><strong class="pb-1 ">Риэлторская компания: {{ supplier }}</strong></p>
                                    <p class = "ps-2 mb-1 mx-auto text-center"><strong class="pb-1 ">Поставляемый продукт:</strong> {{ supplier.field }}</p>
                                    <p class = "ps-2 mb-1 mx-auto text-center"><strong class="pb-1 ">Адрес риэлторской компании:</strong> {{ supplier.adress }}</p>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}