{% extends 'carshowroom/base.html' %}

{% block title %}
Отчеты
{% endblock %}

{% block content %}
<div class ="container">
    <h1>Отчет о всем жилье на продаже: {{ header }}</h1>
    {% if auto_model %}
        <table class="table table-hover table-striped table-bordered border-dark table-sm mx-auto">
            <tr class="text-center "><th>Тип жилья</th><th>Риэлторская компания</th><th>Номер производителя</th><th>Цена</th><th>Количество</th><th>Описание</th></tr>
            {% for model in auto_model %}
                <tr class="text-center"><td>{{ model.name }}</td><td>{{ model.dealer }}</td><td>{{ model.dealer.number }}</td><td>{{ model.price }}$</td>
                <td>{{ model.quantity }}</td><td>{{ model.description }}</td></tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Database is empty.</p>
    {% endif %}
</div>
{% endblock %}